@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/*font-family: 'Lato', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
/*header section is start*/

.header-background{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.header-content{
    max-width: 600px;
}
.header-content{
    margin-top: 180px;
}
.header-content h1{
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.header-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shop-btn{
    padding: 18px 40px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background: #E55473;
    color: white;
}
.shop-btn:hover{
    background: white;
    color: #E55473;
    border: 1px solid #E55473;
}

/*featured section is start*/

.featured-content{
    padding-top: 100px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}

.featured-content h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.featured-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.featured-img-1{
    height: 350px;
    margin-top: 100px;
   
}

.featured-img{
    text-align: center;
    width: 350px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-img-2{
    background: rgba(5, 151, 160, 0.15);
}
.featured-img-3{
    background: rgba(71, 125, 17, 0.15);
}

.featured-images p{
    padding: 15px;
    color: #272727;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.featured-box{
    display: flex;
    margin: 0 250px;
    gap: 20px;
}


/*three man section is start*/
.three-man-contant{
    display: flex;
    width: 1300px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 100px;
    text-align: center;
}
.single-man{
    margin-left: 100px;
}

.single-man p{
margin-top: 20px;
}
/*about section is start*/
.about-us-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 150px;
}
.about-us-content{
    width: 600px;
}
.about-us-img{
    height: 300px;
    margin-top: 60px;
    border-left: 30px solid #E55473;
    border-bottom: 30px solid #E55473;
}


.about-us-content h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.about-us-content p{
    color: #272727;
    font-size: 20px;
    padding-bottom: 30px;
}
/*sign up section is start*/

.sign-up-section{
    height: 620px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.sign-up-area-img{
    width: 300px;
    height: 400px;
}

.sign-up-content h1{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 20px;
}
.sign-up-content{
    width: 600px;
    text-align: center;
}

.sign-up-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 30px;
}
/*instagram section is start*/
.instagram-section{
    margin-bottom: 80px;
}
.instagram-img{
text-align: center;
}
.insta-img{
    width: 300px;
    height: 380px;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px inset green;
}
/*flower background section is start*/

.flower-background{
    background-image: url(../asset/rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1280px;
    height: 449px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.flower-content h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.flower-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input[type="text" i]{
    padding: 20px;
    border: none;
    margin-top: 50px;
    width: 500px;
    border-radius: 5px;
    font-variant-ligatures: normal;
}

input[type="text" i]:focus-visible {
outline: none;
}
.sub-btn{
    margin-left: 15px;
}
.flower-content{
    margin: auto;
}
/*footer section is start*/
.footer-area{
    background-color: #111010;
    color: white;
    height: 449px;
    margin-top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
}
.footer-text{
    width: 625px;
    margin-left: 500px;
}

.footer-text h1{
font-size: 48px;
font-weight: 800;
margin-bottom: 20px;
}

.flower-color{
    color: #E55473;
}
.footer-text p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.small-text-area{
color: rgba(255, 255, 255, 0.40);
font-size: 16px;
}
